# db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=minivalist
DB_HOST=db

# etl
IPSTACK_API_KEY=
GITHUB_API_KEY=

# api
CUBEJS_DB_HOST=db
CUBEJS_DB_NAME=minivalist
CUBEJS_DB_USER=
CUBEJS_DB_PASS=
CUBEJS_DB_TYPE=postgres
CUBEJS_API_SECRET=
REDIS_URL=redis://redis_db:6379/0

# web
REACT_APP_PAYMENT_POINTER=twitter.xrptipbot.com/CinnappleFun
